mixin standWithUkraine()
  <div class="banner">
    <a target="_blank" rel="noopener" href="https://standforukraine.com/?referrer=bmwant.link">
      <img src="https://raw.githubusercontent.com/vshymanskyy/StandWithUkraine/main/banner-direct.svg" alt="Stand with Ukraine">
    </a>
  </div>

mixin postInfo(item)
    .post-info
        a
        != full_date(item.date, config.date_format)
        if item.from && (is_home() || is_post())
            a.post-from(href=item.from, target='_blank', title=item.from)
                != __('translate_original')

mixin postTitle(title)
    if title
        != title
    else
        != __('untitled')

//- Index Page (excludes archived posts)
mixin posts()
    ul.home.post-list
        - page.posts.each(function (item) {
            - if (item.archived) return;
            article.home-post-block
                +postInfo(item)
                .home-post-title
                    a.post-title-link(href=url_for(item.path))
                        +postTitle(item.title)
                //- .post-content
                //-     != item.excerpt
                //- a.read-more(href=url_for(item.path))
                //-     != __('read_more')
        - })

//- Archived Posts Page (shows only archived posts)
mixin archivedPosts()
    - var archivedList = site.posts.filter(function(post) { return post.archived; }).sort('-date');
    ul.home.post-list
        - archivedList.each(function (item) {
            article.home-post-block
                +postInfo(item)
                .home-post-title
                    a.post-title-link(href=url_for(item.path))
                        +postTitle(item.title)
        - })

//- Archive Page
mixin postList()
    .archive
        - var year = 0;
        - var change = false;
        - page.posts.each(function (item) {
            - var itemYear = date(item.date, 'YYYY') - 0;
            - change = year !== itemYear;
            - year = change ? itemYear : year;
            if change
                h2.archive-year
                    != year
            .post-item
                +postInfo(item)
                a.post-title-link(href=url_for(item.path))
                    +postTitle(item.title)
        - })


//- Post Page
mixin post(item)
    .post
        article.post-block
            h1.post-title
                +postTitle(item.title)
            +postInfo(item)
            +standWithUkraine()
            .post-content
                != item.content
