doctype
html(lang=config.language)
    head
        include head.pug
    body
        .wrap
            header
                //- a.logo-link(href=url_for() title=config.title)
                    img.logo-image(src=url_for(theme.logo) alt='logo')
                h1.branding
                    a(href=url_for(), title=config.title)
                        if theme.logo
                            img.logo-image(src=url_for(theme.logo), alt='logo')
                        else
                            = config.title
                include nav.pug
                button.theme-toggle(type="button" aria-label="Toggle dark mode" title="Toggle dark mode")
                    //- Sun icon (shown in dark mode)
                    svg.sun-icon(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        circle(cx="12" cy="12" r="5")
                        line(x1="12" y1="1" x2="12" y2="3")
                        line(x1="12" y1="21" x2="12" y2="23")
                        line(x1="4.22" y1="4.22" x2="5.64" y2="5.64")
                        line(x1="18.36" y1="18.36" x2="19.78" y2="19.78")
                        line(x1="1" y1="12" x2="3" y2="12")
                        line(x1="21" y1="12" x2="23" y2="12")
                        line(x1="4.22" y1="19.78" x2="5.64" y2="18.36")
                        line(x1="18.36" y1="5.64" x2="19.78" y2="4.22")
                    //- Moon icon (shown in light mode)
                    svg.moon-icon(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        path(d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z")
            main.container
                block container
            footer
                block pagination
                block copyright
        include scripts.pug
